.footer-container {
  position: absolute;
  width: 1440px;
  height: 488px;
  left: 3px;
  top: 1387px;
  gap: 40px;
  background: #ffffff;
}

.footer-header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  left: calc(50% - 1050px / 2);
  gap: 577.5px;
  width: 1049.5px;
  height: 58px;
}
hr {
  position: absolute;
  width: 1057px;
  height: 0px;
  left: calc(50% - 1057px / 2 + 3.5px);

  border: 1px solid #e6e6e6;
}

.footer-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.footer-svg svg {
  margin: 11px;
}

.footer-item {
  height: 272px;
  background: #ffffff;
  padding: 0 152px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e6e6e6;
}

.footer-table {
  text-align: left;
  margin-left: -18px;
  display: flex;
  align-items: center;
}

.footer-table th {
  padding: 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252b42;
  padding-right: 25px;
}

.footer-table td {
  height: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-right: 10px;
  padding: 4px 19px;
}

.get-in-touch {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-top: 55px;
}

.get-in-touch h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252b42;
  padding-bottom: 20px;
}

.get-in-touch form {
  width: 321px;
  height: 58px;
  display: flex;
  box-sizing: border-box;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

.get-in-touch input {
  border: none;
  font-weight: 400;
  padding: 0 20px;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  outline: none;
}

.get-in-touch .btn {
  width: 117px;
  box-sizing: border-box;
  background: #23a6f0;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  padding: 15px 22.5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.get-in-touch p {
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
}

.footer-bottom {
  width: 89.4%;
  padding: 25px 0;
  background: #fafafa;
  padding-left: 152px;
}
